@import "sidebar"
@import "profiler"

html, body
  font-family: Helvetica
  padding: 0
  margin: 0
  overflow: hidden
  height: 100%

.content-wrapper
  width: 100%
  box-sizing: border-box
  height: 100%
  background: #242730
  padding: 10px
  padding-left: 210px
  max-width: 100%
  overflow: auto

  .tips
    text-align: center
